<!-- wp:template-part {"slug":"header","theme":"skincare-product-store","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"slider-main-box","style":{"spacing":{"blockGap":"0","padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"backgroundColor":"thirdaccent","layout":{"type":"constrained","contentSize":"100%","wideSize":"100%"}} -->
<main class="wp-block-group slider-main-box has-thirdaccent-background-color has-background" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:pattern {"slug":"skincare-product-store/banner"} /--></main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"skincare-product-store/product-section"} /-->

<!-- wp:template-part {"slug":"footer","theme":"skincare-product-store","tagName":"footer"} /-->